@import "normalize.css";

$max-width-content: 940px;
$min-width-content: 300px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;

    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.button {
    display: inline-block;
    margin-right: 17px;
    padding: 10px 0;

    font: inherit;

    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    background-color: #000000;
    border: none;

    &_size {
        &_s {
            width: 140px;
        }
    }

    &:hover,
    &:focus,
    &:active {
        background-color: #242424;
    }
}

.title_hidden,
.link_hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    color: #ffffff;
    text-decoration: none;

    &_underline {
        text-decoration: underline;
    }

    &:hover,
    &:focus,
    &:active {
        color: #808080;
    }
}

.title {
    font-size: 30px;
    line-height: 42px;
}

.list {
    list-style: none;
}

.header {
    font-size: 16px;
    line-height: 20px;

    color: #ffffff;

    background-color: #000000;
}

.nav {
    max-width: $max-width-content;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    &__button {
        display: block;
        margin: 0;
        padding: 25px 20px;
    }

    &__login-button {
        position: relative;
        margin: 0;
        padding: 25px 20px 25px 50px;

        &::before {
            content: "";

            position: absolute;
            top: 50%;
            left: 25%;
            margin-top: -7px;
            margin-left: -7px;

            width: 14px;
            height: 14px;

            background-image: url("../img/login-shape.png");
            background-repeat: no-repeat;

            opacity: 0.3;
        }

        &:hover::before,
        &:focus::before,
        &:active::before {
            opacity: 1;
        }
    }
}

.body__main {
    margin-top: 60px;
}

.main__inner {
    max-width: $max-width-content;
    margin-right: auto;
    margin-left: auto;
}

.main {
    &__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;

        max-width: 100%;
    }

    &__advantages {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .advantages {
        &__list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        }

        &__item {
            min-width: $min-width-content;
            width: 30%;
            text-align: center;
        }
    }

    .item-advantages {
        &__title {
            position: relative;
            margin: 0 0 52px 0;
        }

        &__title::after {
            content: "";

            position: absolute;
            top: 50px;
            left: 50%;

            width: 20px;
            height: 20px;
            margin-left: -10px;

            background-color: #ffffff;
            transform: rotate(45deg);
        }
    }

    &__section {
        max-width: $max-width-content;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 36px;

        color: #000000;

        background-color: #ffffff;
        background-image: url("../img/index-shadow.png"),
        url("../img/inner-bg.png");
        background-repeat: no-repeat, repeat;
        background-position: center, 0 0;

        .title {
            margin-top: 0;
            margin-bottom: 40px;
        }
    }

    &__news,
    &__gallery,
    &__contact-info,
    &__record {
        flex-grow: 1;

        padding: 50px 70px 50px 80px;

        width: 50%;
        min-width: $min-width-content+50px;
    }

    .news {
        &__list {
            margin: 0 0 30px 0;
            padding: 0;
        }

        &__item {
            margin-bottom: 20px;
        }
    }

    .item-news {
        &__text {
            margin: 0;
        }

        &__time {
            text-transform: none;
        }
    }

    .gallery {
        &__img {
            width: 100%;  // ?
            height: auto;

            margin-bottom: 10px;
        }

        &__group-button{
            display: flex;
            justify-content: space-between;
        }

        &__button {
            width: 48%;

            margin: 0;
        }

    }

    .contact-info {
        &__text {
            margin: 0 0 20px 0;
        }

        &__group-button {
            display: flex;
            flex-wrap: wrap;

            justify-content: space-between;

            margin-top: 30px;

        }

        &__button{
            margin: 0 0 10px 0;
            width: 48%;
        }
    }

    .record {
        &__form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .form {
            &__group {
                width: 48%;
                min-width: 140px;
                margin-bottom: 10px;
            }

            &__label {
                display: block;

                margin-bottom: 10px;
                padding-left: 15px;
            }

            &__field-text {
                width: 100%;

                margin: 0;
                padding: 8px 10px 8px 15px;

                font: inherit;

                background-color: transparent;
                border: 2px solid #000000;
            }

            &__button {
                width: 100%;
                margin: 10px 0 0 0;
            }
        }
    }

}

.body__footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.footer {
    color: #ffffff;

    background-color: #000000;
    background-image: url("../img/footer-bg.png");
    background-repeat: repeat;

    &__inner {
        max-width: $max-width-content;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }

    &__contact,
    &__social-media,
    &__creator {
        width: 30%;
        min-width: $min-width-content;
        margin: 0 0 20px;
        padding: 0;
    }

    .social-media {
        &__text {
            display: block;
            margin: 0 0 15px 0;

            text-align: center;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            width: 140px;
        }

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 43px;
            height: 43px;
            margin-bottom: 5px;

            background-color: #000000;

            &:hover,
            &:focus {
                background-color: #ffffff;

                & path {
                    fill: #000000;
                }
            }
        }
    }

    .creator {
        &__text {
            display: block;
            margin-bottom: 15px;

            text-align: center;
        }

        &__button {
            display: block;
            margin: 0 auto 0 auto;

            &:hover,
            &:focus {
                color: #000000;

                background-color: #ffffff;
            }

        }
    }

}

.body__login {
    position: fixed;
    top: 120px;
    left: 50%;

    display: none; /**/

    margin-left: -230px;
    padding: 45px 80px;
}

.modal {
    color: #000000;

    background-color: #ffffff;
    background-image: url("../img/inner-bg.png");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

    &__exit-button {
        position: absolute;
        top: 10px;
        right: -33px;
        width: 17px;
        height: 17px;

        background-color: transparent;
        background-image: url("../img/exit-button.png");
        background-repeat: no-repeat;
        border: none;

        cursor: pointer;
    }
}

.login{
    &__title {
        margin: 0 0 25px 0;
    }

    &__text {
        margin: 0 0 20px 0;
    }

    .form{
        &__group {
            margin: 0 0 10px 0;
        }

        &__field-text {

            box-sizing: border-box;
            width: 100%;
            padding: 10px 40px 10px 15px;

            font: inherit;
            text-transform: uppercase;

            background-color: transparent;
            border: 2px solid #000000;
        }

        &__field-text_icon-user,
        &__field-text_icon-lock {
            background-repeat: no-repeat;
            background-position: 270px center;
        }

        &__field-text_icon-user {
            background-image: url("../img/icon-user.png");
        }

        &__field-text_icon-lock {
            background-image: url("../img/icon-lock.png");
        }

        .login-help {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            &__forget-link {
                color: #000000;
            }
        }

        &__button {
            width: 100%;
            margin: 0;
        }

        &field-text{
            &hover,
            &:focus {
                border-color: #663d15;
            }
        }
    }
}



